# 订阅地址，必填
feed_addrs:
  - "{feed_addr_host}:9510"
# 业务ID，必填
biz: 1
# 服务秘钥，必填
token: "****************"
# 实例标签，选填
labels:
  - "region": "nanjing"
  - "env": "prod"
# bscp 临时工作目录，选填
temp_dir: "/data/bscp"
# 拉取或监听的服务
apps:
  # 服务名称，必填
  - name: bscp-demo
    # 服务标签（将覆盖实例中相同key的标签），选填
    labels:
      - "env": "prod"
      - "app": "demo"
    # 服务配置项匹配，支持通配符，多个之间是或的关系，选填，默认不填则匹配全部
    config_matches:
      - "/etc/a*"
  - name: demo-2
    labels:
      - "env": "prod"
      - "app": "demo-2"
    config_matches:
      - "/etc/**"
# 文件缓存配置
file_cache:
  # 是否开启文件缓存
  enabled: true
  # 缓存目录
  cache_dir: /data/bscp/cache
  # 缓存清理阈值，单位为GB，缓存目录达到该阈值时开始清理，按文件更新时间从最老的文件开始清理，直至达到设置的缓存保留比例为止
  threshold_gb: 2
# kv缓存配置
kv_cache:
  # 是否开启kv缓存
  # 用于在feed-server服务端连接不可用时仍能降级从缓存获取到对应value（如果有缓存过），但存在value值不是最新发布版本的风险
  enabled: true
  # kv缓存容量阈值，单位为MB，超过后会丢弃旧缓存数据
  threshold_mb: 500
# 全局服务配置项匹配，支持通配符，多个之间是或的关系，选填，默认不填则匹配全部，如果有配则对所有服务生效（在服务已有匹配配置基础上添加）
config_matches:
  - "/etc/c*"